.try-these-container {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  overflow-x: auto;
  grid-template-rows: repeat(2, 100px);
}
.try-these-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
